<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>   
    <StorageManagement>
      <add key="largeFileSize" value="314572800" />
      <add key="defSegmentNumber" value="16" />
      <add key="MaxSegmentCopyRetries" value="3" />
      <add key="UseCleanLargeFileCopies" value="false" />
      <add key="delimiter" value="/" />
      <add key="max-keys" value="10000" />
      <add key="HttpTimeoutInterval" value="9200000" />
      <add key="PasteGetURIResultsToClipboard" value="true" />
      <add key="ReleaseNotesURI" value="https://region-a.geo-1.objects.hpcloudsvc.com/v1/AUTH_2485a207-71a4-4429-9e24-f7bf49e207fc/Builds/ReleaseManifest.xml" />
      <add key="NewReleaseFolder" value="e:\" />
      <SharedContainers></SharedContainers>
    </StorageManagement>
    <IdentityServices>      
      <ServiceProvider name="WidgetInc" isDefault="true">
        <add key="AuthenticationServiceURI" value="" displayName="Authentication Service URI" isMandatory="true" />
        <add key="Username"                 value="" displayName="User name" isMandatory="true" />
        <add key="Password"                 value="" displayName="Password" isMandatory="true" />
        <add key="DefaultTenantId"          value="" displayName="Default Tenant Id" isMandatory="true" />
        <AvailabilityZones>
          <AvailabilityZone id="1" isDefault="True" name="Rregion-a.geo-1" shellForegroundColor="Green" />
          <AvailabilityZone id="2" isDefault="False" name="Rregion-b.geo-1" shellForegroundColor="Green" />
        </AvailabilityZones>
        <ServiceMaps>
          <ServiceMap source="ObjectStorage"   target="Object Storage"/>
          <ServiceMap source="ImageManagement" target="Image Management"/>
          <ServiceMap source="BlockStorage"    target="Block Storage"/>
          <ServiceMap source="Compute"         target="Compute"/>
        </ServiceMaps>       
      </ServiceProvider>
    </IdentityServices>
    <ComputeServices>
      <add key="LogReadAttemptsMax" value="20" />
      <add key="LogReadAttemptIntervalInMilliSeconds" value="40000" />
      <add key="EnableCredentialTracking" value="true" />
      <add key="SSHClientPath" value="C:\Users\tplummer\Desktop\Utilities\Putty.exe" />
    </ComputeServices>  
  </appSettings>
</configuration>