<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <Testing>
      <add key="TestServerName" value="TestServer" />
      <add key="TestNetworkName" value="TestNetwork" />
      <add key="TestPortName" value="TestPort" />
      <add key="TestRouterName" value="TestRouter" />
      <add key="TestSecurityGroupName" value="TestSecurityGroup" />
      <add key="TestSnapshotName" value="TestSnapshot" />
      <add key="TestStorageContainerName" value="TestContainer" />
      <add key="TestSubnetName" value="TestSubnet" />
      <add key="TestVolumeName" value="TestVolume" />
      <add key="TestFilePath" value="e:\Projects\Testing\Anothertest.txt" />
      <add key="TestStorageContainerSecondaryName" value="b10" />
      <add key="LocalTestDirectory" value="e:\Projects\Testing\" />
      <add key="TestImageId" value="5a1408cb-25f2-43a6-b1d9-931f5e47c871" />
      <add key="TestFlavorId" value="100" />
    </Testing>
    <StorageManagement>
      <add key="largeFileSize" value="314572800" />
      <add key="defSegmentNumber" value="16" />
      <add key="MaxSegmentCopyRetries" value="3" />
      <add key="UseCleanLargeFileCopies" value="false" />
      <add key="delimiter" value="/" />
      <add key="max-keys" value="10000" />
      <add key="HttpTimeoutInterval" value="9200000" />
      <add key="PasteGetURIResultsToClipboard" value="true" />
      <add key="ReleaseNotesURI" value="https://region-a.geo-1.objects.hpcloudsvc.com/v1/AUTH_2485a207-71a4-4429-9e24-f7bf49e207fc/Builds/ReleaseManifest.xml" />
      <add key="NewReleaseFolder" value="e:\" />
      <SharedContainers></SharedContainers>
    </StorageManagement>
    <IdentityServices>
      <ServiceProvider name="" isDefault = "true">
        <add key="AuthenticationServiceURI" value="" displayName="Authentication Service URI" helpText ="" isMandatory="True"/>
        <add key="Username"                 value="" displayName="User name" helpText ="" isMandatory="True"/>
        <add key="Password"                 value="" displayName="Password" helpText ="" isMandatory="True" />
        <add key="DefaultTenantId"          value="" displayName="Default Tenant Id" helpText ="" isMandatory="True"/>
        <AvailabilityZones>
          <AvailabilityZone id="1" isDefault="True"  name="region-a.geo-1" shellForegroundColor="Green" />
          <AvailabilityZone id="2" isDefault="False" name="region-b.geo-1" shellForegroundColor="Green" />
        </AvailabilityZones>
      </ServiceProvider>    
    </IdentityServices>
    <ComputeServices>
      <add key="LogReadAttemptsMax" value="20" />
      <add key="LogReadAttemptIntervalInMilliSeconds" value="40000" />
      <add key="EnableCredentialTracking" value="true" />
      <add key="SSHClientPath" value="C:\Users\tplummer\Desktop\Utilities\Putty.exe" />
    </ComputeServices>

  </appSettings>
</configuration>