<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <Testing>
      <add key= "TestFilePath"                  value="c:\Projects\Testing\Anothertest.txt"/>
      <add key= "TeststorageContainer"          value="testcon"/>
      <add key= "TeststorageContainerSecondary" value="b10"/>
      <add key= "LocalTestDirectory"            value="e:\Projects\Testing\"/>
      <add key= "TestServerId"                  value="8079afef-d6c3-44a9-9276-0ee8fe344b67"/>
      <add key= "TestImageId"                   value="5a1408cb-25f2-43a6-b1d9-931f5e47c871"/>
      <add key= "TestFlavorId"                  value="100"/>
    </Testing>
    <StorageManagement>
      <add key="largeFileSize" value="314572800" />
      <add key="defSegmentNumber" value="16" />
      <add key="MaxSegmentCopyRetries" value="3" />
      <add key="UseCleanLargeFileCopies" value="false" />
      <add key="delimiter" value="/" />
      <add key="max-keys" value="10000" />
      <add key="HttpTimeoutInterval" value="9200000" />
      <add key="PasteGetURIResultsToClipboard" value="true" />
      <add key="ReleaseNotesURI" value="https://region-a.geo-1.objects.hpcloudsvc.com/v1/AUTH_2485a207-71a4-4429-9e24-f7bf49e207fc/Builds/ReleaseManifest.xml" />
      <add key="NewReleaseFolder" value="e:\" />     
    </StorageManagement>
    <ComputeServices>
      <add key="LogReadAttemptsMax" value="20" />
      <add key="LogReadAttemptIntervalInMilliSeconds" value="40000" />
      <add key="EnableCredentialTracking" value="true" />
      <add key="SSHClientPath" value="C:\Users\tplummer\Desktop\Utilities\Putty.exe" />
    </ComputeServices>
    <IdentityServices>
      <ServiceProvider name="HP" isDefault = "true">
        <add key="AuthenticationServiceURI" value="https://region-a.geo-1.identity.hpcloudsvc.com:35357/v2.0/" displayName="Authentication Service URI" helpText ="" isMandatory="True"/>
        <add key="Username"                 value="Travis.Plummer@hp.com" displayName="User name" helpText ="" isMandatory="True"/>
        <add key="Password"                 value="Armbar40" displayName="Password" helpText ="" isMandatory="True" />
        <add key="DefaultTenantId"          value="Travis.Plummer@hp.com" displayName="Default Tenant Id" helpText ="" isMandatory="True"/>
        <AvailabilityZones>
          <AvailabilityZone id="1" isDefault="True" name="region-a.geo-1" shellForegroundColor="Green" />
          <AvailabilityZone id="2" isDefault="False" name="region-b.geo-1" shellForegroundColor="Green" />
        </AvailabilityZones>
        <ServiceMaps>       
          <ServiceMap source="ObjectStorage"   target="Object Storage"/>
          <ServiceMap source="ImageManagement" target="Image Management"/>
          <ServiceMap source="BlockStorage"    target="Block Storage"/>
          <ServiceMap source="Compute"         target="Compute"/>
        </ServiceMaps>
      </ServiceProvider>
    </IdentityServices>
  </appSettings>
</configuration>